# Blockchain Configuration
# Private key wallet deployer (JANGAN commit ke Git!)
PRIVATE_KEY=0x_your_private_key_here

# RPC URLs (Ethereum Sepolia Testnet)
SEPOLIA_RPC_URL=https://rpc.sepolia.org

# Etherscan API Key (untuk verify contract)
ETHERSCAN_API_KEY=your_api_key_here

# Gas reporter
REPORT_GAS=false
